* {
    margin-top: 250px;
    padding: 0;
    }


.block {
margin: 0 auto;
width: 200px; 
height: 200px;
border: 50px solid #497DDD;  
border-radius: 50%;
position: relative;
}

.block:after {
content: "";
width: 100px; 
height: 100px;
border-radius: 50%;
position: absolute; 
top: calc(50% - 50px); 
left: calc(50% - 50px);
background: radial-gradient(#EF7D55, #F24012);
}