@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
  display: flex;
  scroll-snap-type: x proximity;
  overflow: auto;
  flex-shrink: 0;
}

.item{
  margin-right: 1em;
  scroll-snap-align: start;
  padding: 1.35em;
}

img{
  height: 253px;
  width: 336px;
  aspect-ratio: 1;
  border-radius: 10px;
  box-shadow: 0px 21px 26px -11px rgba(0,0,0,0.75),
              0px 21px 7px -17px rgba(0,0,0,0.75);
}

.buttons{
  padding:1em;
}

button{
  padding:0.5em;
}